<ion-header>
  <ion-toolbar>
    <ion-title>Purpose</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button style="width: 75%;padding-left: 22%;margin-top: 30%;" (click)="visitiorActivity('checkin')" color="primary" class="transition">
    <strong class="white">
      Check In
    </strong>  
  </ion-button>


  <ion-button style="width: 75%;padding-left: 22%;margin-top: 15%;" (click)="visitiorActivity('check')" class="transition">
    <strong class="white">
      Check 
    </strong>  
  </ion-button>


  <ion-button style="width: 75%;padding-left: 22%;margin-top: 15%;" (click)="visitiorActivity('checkout')" color="primary" class="transition">
    <strong class="white">
      Check Out
    </strong>  
  </ion-button>

</ion-content>
