<ion-header>
  <!-- <ion-toolbar>
    <ion-title>visitor-mobile-verify</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content no-padding>
  <div class="main">
    <ion-card no-margin>
      <ion-card-content>
        <ion-row class="row">
          <div class="fire-logo">
            <img src="assets/icon/favicon.png" class="img-logo">
            <ion-text padding>
              <h2 no-margin margin-vertical text-center>Enter mobile number to receive OTP</h2>
            </ion-text>
          </div>
        </ion-row>
        <ion-row margin>
          
        </ion-row>
        <ion-row>
          <ion-select class="full-width-select" (ionChange)="onSelectChange($event)" placeholder="Country" [(ngModel)]="otpVerification.countryCode" expand="full">
            <span *ngFor="let country of countries">
              <ion-select-option value="{{ country.phone }}">
                {{country.name}} {{country.emoji}} + {{country.phone}}
              </ion-select-option>
            </span>
          </ion-select>
        </ion-row>
        <ion-row>
            <!-- <ion-select (ionChange)="onSelectChange($event)" placeholder="Country" [(ngModel)]="otpVerification.countryCode">
              <span *ngFor="let country of countries">
                <ion-select-option value="{{ country.phone }}">
                  {{country.emoji}} + {{country.phone}} + {{country.name}}
                </ion-select-option>
              </span>
            </ion-select> -->
            <ion-text value="{{ otpVerification.countryCode }}">
            </ion-text>
            <ion-input clearInput type="tel" placeholder="Mobile Number" required="true" [(ngModel)]="mobile" value="{{ mobile }}" class="input" padding-horizontal
              clear-input="true">
            </ion-input>
        </ion-row>
        <ion-row *ngIf="showOTPInput" class="OTP-border">
          <ion-col>
            <ion-input clearInput type="number" placeholder="Ente OTP" required="true" [(ngModel)]="otpVerification.otp" value="{{ otpVerification.otp }}" class="input"
             padding-horizontal clear-input="true">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showOTPInput">
          <ion-col>
            <ion-text class="small">{{OTPmessage}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button *ngIf="!showOTPInput" expand="block" (click)="next()"  color="primary" class="transition">
              <strong class="white">
                Begin Registration
              </strong>
              </ion-button>
            <ion-button *ngIf="showOTPInput" expand="block" (click)="verifyOTP()"  color="primary" class="transition">
              <strong class="white">
                Verify OTP
              </strong>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>