<ion-header>
  <ion-toolbar class="header-footer-background">
    <ion-title>Mobile Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="card-background">
    <ion-card-header>
      <ion-text padding class="colors-text">
        <h2 no-margin margin-vertical text-center>
          <b class="colors-text">Register</b>
        </h2>
        <br>
      </ion-text>
    </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-select class="full-width-select" (ionChange)="onSelectChange($event)" placeholder="Country" [(ngModel)]="otpVerification.countryCode" expand="full">
            <span *ngFor="let country of countries">
              <ion-select-option value="{{ country.phone }}">
                {{country.name}} {{country.emoji}} + {{country.phone}}
              </ion-select-option>
            </span>
          </ion-select>
        </ion-row>
        <ion-row>
            <ion-text value="{{ otpVerification.countryCode }}">
            </ion-text>
            <ion-input clearInput type="tel" placeholder="Mobile Number" required="true" [(ngModel)]="mobile" value="{{ mobile }}" class="input" padding-horizontal
              clear-input="true">
            </ion-input>
        </ion-row>
        <ion-row *ngIf="showOTPInput" class="OTP-border">
          <ion-col>
            <ion-input clearInput type="number" placeholder="Ente OTP" required="true" [(ngModel)]="otpVerification.otp" value="{{ otpVerification.otp }}" class="input"
             padding-horizontal clear-input="true">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showOTPInput">
          <ion-col>
            <ion-text class="small">{{OTPmessage}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button *ngIf="!showOTPInput" expand="block" (click)="next()" class="colors" shape="round">
              <strong class="white">
                Begin Registration
              </strong>
              </ion-button>
            <ion-button *ngIf="showOTPInput" expand="block" (click)="verifyOTP()"  class="colors" shape="round">
              <strong class="white">
                Verify OTP
              </strong>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar class="header-footer-background">
    <ion-title text-center>
      Cp[yright]
    </ion-title>
  </ion-toolbar>
</ion-footer> -->