.header-footer-background {
    --ion-background-color: #37474F;
    color: #ffffff;
}

.colors {
    // --background: #37474F;
    // --color: #607D8B;
    --background: #607D8B;
    --color: #FFFFFF;
}
